!!!
%html
  #wrapper
    #header
      %head
        %title Renaldi's homepage
        %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")  
        %link(rel="stylesheet" href="public/styles.css")  
      %h1 Welcome to my home page
    %body
      %ul.horizontal
        //Navigation bar
        %li
          %a{:href => '/'}Main Page
        -if (!@authorized)  
          %li
            %a{:href => '/signup'}Sign up
          
        - if (@authorized && @user.admin)
          %li        
            %a{:href => '/dbview'}View/Delete/Update members
          %li
            %a{:href => '/signup'}Add member
         
        %li
          - if (!@authorized)
            %a{:href => "/login"} Log In
          - else
            %a{:href => "/logout"} Log Out
            
        //Display message 
        - if (!@message.nil?)
          %br
          %b #{@message}
                   
      #container
        =yield
    %br 
    
    #footer
      %ol
        WEBMASTER 
        %br
        %a{:href => 'mailto:renaldi.sim@gmail.com'} Ray Renaldi
        