!!!
%html
  #wrapper
    #header
      %head
        //%link{:rel => 'stylesheet', :href => "http://fonts.googleapis.com/css?family=Raleway:600"}    
        %link{:rel => 'stylesheet', :href => "public/css/styles.css"}           
        %script{:type => 'text/javascript', :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"}
        %script{:type => 'text/javascript', :src => "public/js/main.js"}          
        %title Renaldi's homepage                
        %h1 Welcome to my home page  
    #body
      %body      
        %ul{:class => "sonarmenu"}
          //Navigation bar
          %li
            %a{:href => '/'}Main Page
          -if (!authorized?)  
            %li
              %a{:href => '/signup'}Sign up
            
          - if (authorized? && current_user.admin)
            %li        
              %a{:href => '/user'}Manage Accounts          
           
          %li
            - if (!authorized?)
              %a{:href => "/login"} Log In
            - else
              %a{:href => "/logout"} Log Out                        
                     
        %container{:class => "content"}
          =yield
      %br 
    
    #footer
      %ol
        WEBMASTER 
        %br
        %a{:href => 'mailto:renaldi.sim@gmail.com'} Ray Renaldi
        